body {
    background-color: black;
    color: white;
    margin: 0;
    text-align: center; /* Alinha o texto ao centro */
    padding-top: 50px; /* Espaçamento superior para afastar os links do topo */
}

p {
    margin-bottom: 20px; /* Espaçamento entre os parágrafos */
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: yellow;
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

h1 {
    animation: swing 2s ease-in-out infinite;
    color: #FFD700;
}
footer {
    background-color: black;
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#downloadLinks {
    background-color: #FFD700; /* Amarelo */
    color: #fff; /* Texto branco */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px; /* Cantos arredondados */
    cursor: pointer;
    outline: none; /* Remove a borda ao clicar */
    transition: background-color 0.3s ease; /* Transição suave para o efeito de hover */
}

#downloadLinks:hover {
    background-color: #FFEC80; /* Amarelo mais claro para o efeito de hover */
}

#downloadLinks:active {
    background-color: #FFC800; /* Amarelo mais escuro quando clicado */
}

.gif-animado {
    display: block;
    margin-top: 0px; /* Espaço acima do GIF */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ajusta a largura máxima do GIF */
    height: 100px; /* Permite que o tamanho da altura seja ajustado automaticamente */
}
